<h3>Generate ICS File</h3>

<p>
    <label>
        Upload up to @maxAllowedFiles of up to @maxFileSize megabytes:
        <InputFile OnChange="@LoadFiles" multiple />
    </label>
</p>

@if (isLoading)
{
    <p>Uploading...</p>
}
else
{
    <ul>
        @foreach (var file in loadedFiles)
        {
            <li>
                <ul>
                    <li>Name: @file.Name</li>
                    <li>Size (bytes): @file.Size</li>
                </ul>
            </li>
        }
    </ul>
}

@if (loadedFiles.Any())
{
    <button @onclick="ProcessFiles">Generate ICS file</button>
}

@if (exceptionMessages.Any())
{
    foreach (var msg in exceptionMessages)
    {
        <p style="font-weight: bold; color: darkred;">@msg</p>
    }
}