@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Color="Color.Dark" Style="color: white;">
        Ticket Scrapper
    </MudAppBar>
    <MudMainContent>
        <div class="pa-4 mx-auto">
            @*@Body*@
            <VielTicketScrapperBlazorPWA.Components.IcsGenerator />
        </div>
    </MudMainContent>
</MudLayout>
